<!DOCTYPE html>
<html>
<head>
    <title>Chat Room</title>
    <script src="{{ url_for('static', filename='socket.io-4.7.5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
</head>
<body>
    <h1>Chat Room</h1>
    <div id="chat">
        <div id="messages"></div>
        <input id="myMessage" autocomplete="off">
        <button onclick="sendMessage()">Send</button>
    </div>

    <script>
        const socket = io();

        socket.on('connect', () => {
            const username = prompt("Enter your username:");
            const room = 'default';
            socket.emit('join', {username, room});
        });

        socket.on('message', (msg) => {
            $('#messages').append($('<div>').text(msg));
        });

        function sendMessage() {
            const msg = $('#myMessage').val();
            socket.send(msg);
            $('#myMessage').val('');
        }
    </script>
</body>
</html>
