[Unit]
Description=Flaschen Taschen LED Matrix Display Server

[Service]
User=root
WorkingDirectory=/home/rpi/rgb-emoji-chat/runtime
ExecStart=/bin/bash -c 'cd /home/rpi/rgb-emoji-chat/runtime && ./ft-server --led-rows=32 --led-cols=64 --led-chain=2 --led-pixel-mapper="U-mapper" --led-gpio-mapping=adafruit-hat --led-slowdown-gpio=2 --led-brightness=100'
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target